name: CI Build e Análise Estática/Dinâmica

on:
  push:
    branches: [ "main" ]
    
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-analyze:
    runs-on: ubuntu-latest

    steps:
      # 1. Faz o checkout do código do seu repositório
      - name: Checkout do Repositório
        uses: actions/checkout@v4

      # 2. Instala as dependências (make, gcc, cppcheck)
      - name: Instalar Dependências
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cppcheck

      # 3. Análise Estática
      - name: Análise Estática (cppcheck)
        run: make check

      # 4. Análise Dinâmica
      - name: Compilar com AddressSanitizer
        run: make asan

      # 5. Análise Dinâmica (executando o binário ASan)
      - name: Análise Dinâmica (Run with ASan)
        run: |
          echo "Testando HelloWorld..."
          ./bin/class-reader-asan ./exemplos/tests/HelloWorld.class > /dev/null
          
          echo "Testando vetor_8 (o que encontrou os bugs)..."
          ./bin/class-reader-asan ./exemplos/vetor_8.class > /dev/null
          
          echo "Testando fatorial..."
          ./bin/class-reader-asan ./exemplos/fatorial.class > /dev/null
          
          echo "Testando lookupswitch..."
          ./bin/class-reader-asan ./exemplos/lookupswitch.class > /dev/null

          echo "Testando double_aritmetica..."
          ./bin/class-reader-asan ./exemplos/double_aritmetica.class > /dev/null